:root {
    
    /* ===== colors */

    --color-bg: #eeeeee;
    --color-bg-light: #ffffff;


    /* ==== typography */

    --font-family-primary: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
      /* background: rgb(128, 81, 88); */
      background-color: hsl(210, 95%, 77%);
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

      min-height: 100vh;
      max-width: 100%;
      display: grid;
      place-items: center;
      font-family: var(--font-family-primary);
    }
    .wrapper {
      background: var(--color-bg-light);
      max-width: 43.75rem;
      min-height: 12.5rem;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 5px #cbced1, -13px -13px 1000px hsl(210, 95%, 77%);
      margin: 5rem 1.5rem;
    }
    
    .wrapper h2 {
      text-align: center; 
      margin-bottom: 2.3rem;
      font-size: 1.8rem;
      color: #181818;
    }

    .wrapper h4 {
        font-size: 1rem;
        font-weight: 500;
    }

    .input-box {
        /* background: red; */
        margin-top: 1rem; 
        font-family: var(--font-family-primary);
    }
    .input-box h4 {
        padding-bottom: 1rem;
    }
    .input-group {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .input-group > * {
        flex: 1;
        margin: 0.2rem;
    }


    input[type="text"], input[type="email"] {
        border: none;
        outline: none;
        background: none;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.541);

        height: 1.5rem;
        width: 100%;
        border-color: var(--color-bg-light);
        border-radius: 1rem;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        box-shadow: inset 8px 8px 8px #dfdcdcce,
        inset -8px -8px 8px #f7f5f5c2;


    }

    input[type="tel"] {
        border: none;
        outline: none;
        background: none;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.541);

        height: 1.5rem;
        width: 50%;
        border-color: var(--color-bg-light);
        border-radius: 1rem;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        box-shadow: inset 8px 8px 8px #dfdcdcce,
        inset -8px -8px 8px #f7f5f5c2;
    }

    input[type="radio"] {
        /* box-shadow: inset 8px 8px 8px #dfdcdcce,
        inset -8px -8px 8px #f7f5f5c2; */
        background: rgb(167, 27, 27);
    }
    i {
        /* margin: 0.3rem; */
        margin-left: -2rem;
        color: black;
        z-index: 1;
    }

    label {
        font-size: 0.82rem;
    }

    select {
        border: 1px solid white;
        box-shadow: 1px 1px 6px rgba(165, 165, 165, 0.925), -13px -13px 20px white;
        padding: 0.5rem 1.2rem;
        border-radius: 25rem;
    }
    option:hover {
        background: brown;
    }

    button {
        background: rgb(5, 212, 5);
        border: 2px solid rgb(5, 212, 5);
        padding: 0.9rem 3rem;
        border-radius: 1.5rem;
        box-shadow: 1px 1px 6px rgba(126, 241, 126, 0.925), -13px -13px 20px rgb(255, 255, 255);
        color: var(--color-bg-light);
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 2rem;
    }

    button:hover {
        transition: 0.5s;
        background: rgba(5, 212, 5, 0.603);
        border: 2px solid rgba(5, 212, 5, 0.603);
    }




    @media (max-width: 624px){
        .input-group > * {
            flex: 1 312px;
        }
        

        input[type="tel"] {
            width: 100%;
        }
    }